/* Estilo do modal */
.modal {
    display: flex;
    position: fixed;
    /* Fixa o modal na tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo semitransparente */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    z-index: 10000;
    /* Garante que o modal fique acima de outros elementos */
}

/* Estilo do conteúdo do modal */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
    height: 80%;
    z-index: 10001;
    /* Garante que o conteúdo do modal fique acima do fundo */
}

.modal-content h2 {
    color: #000;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.modal-content .close {
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    color: #fff;
    /* Cor do texto */
    background-color: #ff6347;
    /* Cor de fundo */
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-content .close:hover {
    background-color: #ff4500;
    /* Cor de fundo ao passar o mouse */
}

@keyframes slide-down {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.close {
    background: none;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

h2 {
    margin-top: 0;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

h3 {
    margin-bottom: 10px;
    color: #555;
}

select,
input[type="checkbox"],
input[type="number"] {
    margin-bottom: 10px;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
    color: #666;
}

p {
    margin: 5px 0;
    color: #333;
}

/* Estilo para os checkboxes dos extras */
.extras-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.extras-container label {
    flex: 1 1 calc(33.333% - 10px);
    display: flex;
    align-items: center;
}

.extras-container input[type="checkbox"] {
    margin-right: 5px;
}

/* Estilo para a div de quantidade e botão */
.quantidade-carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 0;
    /* Remover margem inferior */
    vertical-align: middle;
    /* Alinhar verticalmente */
}

button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    vertical-align: middle;
    /* Alinhar verticalmente */
}

button:hover {
    background-color: #ff4500;
}

.quantidade-carrinho p {
    margin: 0;
    font-weight: 500;
    font-size: 15px;
}


.modal2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content2 {
    background: white;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.modal-content2 button {
    background-color: #ff6347;
    color: white;
    border: none;
}

.modal-content2 button {
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 10px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}


.modal-content2 p {
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.preco-extras {
    background-color: #f8f8f8;
    /* Cor de fundo do contêiner */
    padding: 20px;
    /* Espaçamento interno do contêiner */
    border-radius: 10px;
    /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra para o contêiner */
    margin: 20px 0;
    /* Espaçamento externo */
    text-align: center;
    /* Centralizar o texto */
}

.preco-extras p {
    margin: 10px 0;
    /* Espaçamento entre os parágrafos */
    font-size: 1.2em;
    /* Tamanho da fonte */
    color: #333;
    /* Cor do texto */
}

.preco-extras-quantidade {
    font-weight: bold;
    /* Negrito para o texto da quantidade */
}

.preco-extras-extras {
    font-weight: bold;
    /* Negrito para o texto dos extras */
    color: #ff6347;
    /* Cor diferente para destacar os extras */
}