/* Estilo do modal */
.modal-monte {
    display: flex;
    position: fixed; /* Fixa o modal na tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    z-index: 10000; /* Garante que o modal fique acima de outros elementos */
}

/* Estilo do conteúdo do modal */
.modal-content-monte {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
    height: 80%;
    z-index: 10001; /* Garante que o conteúdo do modal fique acima do fundo */
}

.modal-content-monte h2{
    color: #000;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.modal-content-monte .close {
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    color: #fff; /* Cor do texto */
    background-color: #ff6347; /* Cor de fundo */
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-content-monte .close:hover {
    background-color: #ff4500; /* Cor de fundo ao passar o mouse */
}

@keyframes slide-down {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.close {
    background: none;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

h2 {
    margin-top: 0;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

h3 {
    margin-bottom: 10px;
    color: #555;
}

select, input[type="checkbox"], input[type="number"] {
    margin-bottom: 10px;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
    color: #666;
}

p {
    margin: 5px 0;
    color: #333;
}

/* Estilo para os checkboxes dos extras */
.extras-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.extras-container label {
    flex: 1 1 calc(33.333% - 10px);
    display: flex;
    align-items: center;
}

.extras-container input[type="checkbox"] {
    margin-right: 5px;
}

/* Estilo para a div de quantidade e botão */
.quantidade-carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 0; /* Remover margem inferior */
    vertical-align: middle; /* Alinhar verticalmente */
}

.button-monte {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    vertical-align: middle; /* Alinhar verticalmente */
}

.button-monte:hover {
    background-color: #ff4500;
}

.monte-pizza-img {
    width: 100%;
    max-height: 370px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
  }
